{% extends "learning_logs/base.html" %}
{% load static %}

{% block content %}

<p style="padding-left: 30px; padding-top: 8px; font-weight: bold; font-size: 20px;">Tópico : {{topic}}</p>

<p style="padding-left: 30px; padding-top: 8px; font-weight: bold;" >Anotações:</p>

<p style="padding-left: 30px; padding-top: 8px; font-weight: bold;">
    <a href="{% url 'new_entry' topic.id %}">Adicione uma nova Anotação</a>
    <img src="{% static 'images/icons8-adicionar-96.png' %}" alt="icone add" width="35px" height="35px">
</p>

<ul style="width: 300px ; margin-left: 12px;">
    {% for entry in entries %}

        <li>
            <p>{{entry.date_added | date:'M d,Y H:i' }}</p>
            <p>{{entry.text | linebreaks}}</p>
            <p>
                <a href="{% url 'edit_entry' entry.id %}">Editar Anotacao</a>
                <img src="{% static 'images/edit_1160515.png' %}" alt="icone edit" width="35px" height="35px">
            </p> 
        </li>

        {% empty %}

        <li>nao ha registro</li>

        

    {% endfor %}

</ul>
<style>
    a{
        padding: 8px 5px 6px
    }
</style>


{% endblock content %}